<template>
  <div>
    <label>
      <input type="checkbox" :checked="!anyRemaining" @change="checkTodos" /> 選取全部
    </label>
  </div>
</template>
<script>
import { EventBus } from '../../event-bus.js';
export default {
  name: 'todo-check-all',
  props:{
    anyRemaining:{
      type: Boolean,
      required: true,
    }
  },
  methods:{
    checkTodos(){
      EventBus.$emit('checkTodos');
    }

  }
}
</script>
