<template>
    <div>
      <button :class="{active: filter == 'all'}" @click="changeFilter('all')">全部</button>
      <button :class="{active: filter == 'active'}" @click="changeFilter('active')">尚未完成</button>
      <button :class="{active: filter == 'completed'}" @click="changeFilter('completed')">已完成事項</button>
    </div>
</template>
<script>
import { EventBus } from '../../event-bus.js';
export default {
  name: 'todo-filter',
  data(){
    return {
      'filter': 'all'
    }
  },
  methods:{
    changeFilter(filter){
      // 將傳入的直指定給 filter 然後傳送去 Evenbus
      this.filter = filter
      EventBus.$emit('filterChange', this.filter);
    }

  }
}
</script>