<template>
  <div class="todo-item">
    <div class="todo-item-left">
      <input type="checkbox" v-model="completed" @change="finishedEdit"/>
        <!--
          :class="{completed: todo.completed}"
          綁定 class 事件 如果 todo.completed 為真，綁定 completed 的 class
        -->
      <div v-if="!editing" @dblclick="editTodo()" class="todo-item-label"
          :class="{completed:completed}">{{title}}</div>
      <input v-else class="todo-item-edit" @blur="finishedEdit()"
          @keyup.enter="finishedEdit()" type="text" v-model="title" v-focus/>
    </div>

    <div class="remove-item" @click="removeTodo(index)">
      &times;
    </div>
  </div>
</template>
<script>
import { EventBus } from '../../event-bus.js';

export default {
  name:'todo-item',
  props:{
    todo:{
      type: Object,
      rrequired: true,
    },
    index:{
      type: Number,
      required: true,
    },
    checkAll:{
      type: Boolean,
      required: true,
    }
  },
  data(){
    return {
        'id': this.todo.id,
        'title': this.todo.title,
        'completed': this.todo.completed,
        'editing': this.todo.editing,
        'beforeEditCache': ""
    }
  },
  directives:{
    focus:{
      inserted: function(el){
        el.focus()
      }
    }
  },watch:{
    checkAll() {
      // 最漚一個就是他會去檢查，如果全部都完成了，就全部打勾，如果有一個沒完成，按照原來的設定打勾
      this.completed = this.checkAll ? true : this.todo.completed;
    }
  },
  methods:{
    removeTodo(index){
      // 使用 $emit 可以使用父親的東西
      // 在這邊是在這邊監聽著，如有發生removeTodo 事件，就可以使用父親的 removeTodo，後面是代的參數 （）this,$emit
      // event Bus 就直接更改了！
      EventBus.$emit('removeTodo', index);
    },
    editTodo: function(){
      this.beforeEditCache = this.title;
      this.editing = true;
    },
    finishedEdit: function(){
      if(this.title.trim() ==""){
        this.title = this.beforeEditCache;
      }
      this.editing = false;
      EventBus.$emit('finishedEdit', {
        'index': this.index,
        'todo':{
          'id': this.id,
          'title': this.title,
          'completed': this.completed,
          'editing': this.editing
        }
      });
    }
  }
}
</script>

