<template>
  <div>
    <button v-if="showClearCompleteButton" @click="clearCompleted" >刪除已完成的事項</button>
  </div>
</template>
<script>
import { EventBus } from '../../event-bus.js';
export default {
  name: 'todo-kill-finish',
  props:{
    showClearCompleteButton:{
      type: Boolean,
      required: true,
    }
  },
  methods:{
    clearCompleted(){
      EventBus.$emit('clearCompleted')
    }
  }
}
</script>