
<template>
    <div id="app">
        <NumberDisplay />
        <NumberSubmit />
    </div>
</template>

<script>
    import NumberDisplay from '../components/numDisplay';
    import NumberSubmit from '../components/numSubmit';

    export default {
        name: 'App',
        components: {
            NumberDisplay,
            NumberSubmit
        }
    }
</script>