<template>
  <div class="container">
    <input class="todo-input"
      v-model="todo"
      @keyup.enter="addTodo"
      autofocus autocomplete='off'
      placeholder="請輸入你想做的事情"/>
      <!--
        知識點：
          1. v-on -> @ 綁定資料，監聽事件當 components 裡面的removeTodo 被執行時，觸發外面的 removeTodo事件
          2. : 綁定屬性事件，可以綁定包含 資料、物件、陣列、樣式等屬性
       -->
      <TodoItem v-for="(todo, index) in todoListFilters" :key="todo.id" :todo="todo" :index="index"
       :checkAll="!anyRemaining">
      </TodoItem>
      <div class="extra-container">
          <TodoCheckAll :anyRemaining="anyRemaining"></TodoCheckAll>
          <TodoRemaing :remaining="remaining"></TodoRemaing>
      </div>

      <div class="extra-container">
        <TodoFilter :filter="filter"></TodoFilter>
        <TodoKillFinish :showClearCompleteButton="showClearCompleteButton"></TodoKillFinish>
      </div>

  </div>
</template>
<script>
import TodoItem from '../components/TodoList/TodoItem';
import TodoRemaing from '../components/TodoList/TodoRemaing'
import TodoCheckAll from '../components/TodoList/TodoCheckAll'
import TodoFilter from '../components/TodoList/TodoFilter'
import TodoKillFinish from '../components/TodoList/TodoKillFinish'
import { EventBus } from '../event-bus.js';

export default{
  name: 'todo-list',
  components:{
    // 在這裡的才是真正上面使用時的名稱
    // 在export default 裡面所用的 name 是 debug 時 工具所顯示的 component 名稱
    TodoItem,TodoRemaing,TodoCheckAll,TodoFilter,TodoKillFinish
  },
  created() {
    EventBus.$on('removeTodo', (index)=> this.removeTodo(index))
    EventBus.$on('finishedEdit', (data) => this.finishedEdit(data))
    EventBus.$on('checkTodos', () => this.checkTodos())
    EventBus.$on('filterChange', (filter) => this.filter = filter)
    EventBus.$on('clearCompleted', () => this.clearCompleted())
  },
  data(){
    return {
      'todo':'',
      'idForTodo':3,
      'filter': 'all',
      'todoList':[{
        'id':1,
        'title': 'first todo things',
        'completed': false,
        'editing': false
      },
      {
        'id':2,
        'title': 'sec todo things',
        'completed': false,
        'editing': false
      }
      ]
    }
  },
  computed:{
    remaining(){
      return this.todoList.filter(todo => !todo.completed).length
    },
    anyRemaining(){
      return this.remaining != 0
    },
    todoListFilters(){
      if(this.filter == 'all'){
        return this.todoList;
      }else if(this.filter == 'active'){
        return this.todoList.filter(todo => !todo.completed);
      }else if(this.filter == 'completed'){
        return this.todoList.filter(todo => todo.completed);
      }
      return this.todoList;
    },
    showClearCompleteButton(){
      return this.todoList.filter(todo => todo.completed).length >0 ;
    },
  },
  methods:{
    addTodo: function(){
      if (this.todo.trim() == ''){
        return
      }
      this.todoList.push({
        'id':this.idForTodo,
        'title': this.todo,
        'completed': false,
        'editing': false
      });
      this.todo = ''
      this.idForTodo++
    },
    removeTodo: function(index){
      // splice() 刪除在 array 當中的項目，然後返回被刪除的項目
      // 第二項為要刪除的數量，如果設為 0 ，就不會刪除
      // 最後一項為向這個 array 添加的新項目 item1, ..., itemX
      this.todoList.splice(index, 1)
    },
    finishedEdit: function(data){
      this.todoList.splice(data.index, 1 , data.todo)
    },
    checkTodos: function (){
      // javascript 魔術方法 ()=> = function(){}
      this.todoList.forEach((todo)=>todo.completed = event.target.checked);
    },
    clearCompleted: function(){
      this.todoList = this.todoList.filter(todo => !todo.completed);
    }
  }
}
</script>
<style lang="scss">
.todo-input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom: 16px;
}

.todo-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.remove-item {
  cursor: pointer;
  margin-left: 14px;
  // & 開頭的作下列行為，變色
  &:hover {
    color: rgb(216, 36, 36);
  }
}
.todo-item-left {
  // later
  display: flex;
  align-items: center;
}
.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
}
.todo-item-edit {
  font-size: 24px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; //override defaults
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  &:focus {
    outline: none;
  }
}
.completed {
  text-decoration: line-through;
  color: grey;
}
.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
}
button {
  font-size: 14px;
  background-color: white;
  appearance: none;
  &:hover {
    background: lightgreen;
  }
  &:focus {
    outline: none;
  }
}
.active {
  background: lightgreen;
}
// CSS Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
