<!-- NumberDisplay.vue -->
<template>
    <div>
        <h2>{{ numbers }}</h2>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        name: 'NumberDisplay',
        data: () => ({
            numbers: [1, 2, 3]
        }),
        created() {
            // 在 component 被啟動時就執行監聽事件 $on 如果number-added 事件被觸發執行後面的 function
            EventBus.$on('number-added', number => {
                this.numbers.push(number)
            })
        }
    }
</script>
