<template>
    <div class="form">
        <input v-model="number" type="number" />
        <button @click="addNumber">Add new number</button>
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';

    export default {
        name: 'NumberSubmit',
        data: () => ({
            number: 0
        }),
        methods: {
            addNumber() {
                // 傳送一件名為 number-added 的事件，值為 this,number 到 EvenBus 當中
                EventBus.$emit('number-added', Number(this.number))
            }
        }
    }
</script>